<app-pheader></app-pheader>
<app-sheader></app-sheader>
<app-app-title></app-app-title>

<div class="backgroundInfo">
    <div class="containerInfo">
        <section>        
            <div class="containerDate">
                <h4>Written by John Doe on March 21st, 2022. </h4>
                <h4>Last update on March 30th, 2022.</h4>
            </div>
            
            <div class="containerParagraph">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe vitae, maxime quos odio voluptatibus
                    alias non architecto aspernatur natus minima repellat odit itaque cupiditate reprehenderit laborum? Vitae
                    delectus aut eveniet modi nulla, commodi quaerat natus ea. Aliquam, fugit tempora? Eligendi harum corrupti
                    ipsam! Atque cupiditate saepe esse vero facilis, quaerat repellendus optio omnis itaque
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe vitae, maxime quos odio voluptatibus
                    alias non architecto aspernatur natus minima repellat odit itaque cupiditate reprehenderit laborum? Vitae
                    delectus aut eveniet modi nulla, commodi quaerat natus ea. Aliquam, fugit tempora? Eligendi harum corrupti
                    ipsam! Atque cupiditate saepe esse vero facilis, quaerat repellendus optio omnis itaque
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe vitae, maxime quos odio voluptatibus
                    alias non architecto aspernatur natus minima repellat odit itaque cupiditate reprehenderit laborum? Vitae
                    delectus aut eveniet modi nulla, commodi quaerat natus ea. Aliquam, fugit tempora? Eligendi harum corrupti
                    ipsam! Atque cupiditate saepe esse vero facilis, quaerat repellendus optio omnis itaque
                </p>
            </div>

            <div class="backgroundImage">
                <img src="../assets/imgs/img.jpeg" alt="">
            </div>

            <div class="containerParagraph">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe vitae, maxime quos odio voluptatibus
                    alias non architecto aspernatur natus minima repellat odit itaque cupiditate reprehenderit laborum? Vitae
                    delectus aut eveniet modi nulla, commodi quaerat natus ea. Aliquam, fugit tempora? Eligendi harum corrupti
                    ipsam! Atque cupiditate saepe esse vero facilis, quaerat repellendus optio omnis itaque
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe vitae, maxime quos odio voluptatibus
                    alias non architecto aspernatur natus minima repellat odit itaque cupiditate reprehenderit laborum? Vitae
                    delectus aut eveniet modi nulla, commodi quaerat natus ea. Aliquam, fugit tempora? Eligendi harum corrupti
                    ipsam! Atque cupiditate saepe esse vero facilis, quaerat repellendus optio omnis itaque
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe vitae, maxime quos odio voluptatibus
                    alias non architecto aspernatur natus minima repellat odit itaque cupiditate reprehenderit laborum? Vitae
                    delectus aut eveniet modi nulla, commodi quaerat natus ea. Aliquam, fugit tempora? Eligendi harum corrupti
                    ipsam! Atque cupiditate saepe esse vero facilis, quaerat repellendus optio omnis itaque
                </p>
            </div>

            <div class="backgroundImage">
                <img src="../assets/imgs/img2.jpeg" alt="">
            </div>

            <div class="containerParagraph">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe vitae, maxime quos odio voluptatibus
                    alias non architecto aspernatur natus minima repellat odit itaque cupiditate reprehenderit laborum? Vitae
                    delectus aut eveniet modi nulla, commodi quaerat natus ea. Aliquam, fugit tempora? Eligendi harum corrupti
                    ipsam! Atque cupiditate saepe esse vero facilis, quaerat repellendus optio omnis itaque
                </p>
            </div>
        
        </section>
        <aside>        
            <div class="containerAside">
                <div class="menuAside">
                    <div class="titleAside">
                        <h2>Related articles</h2>
                    </div>
                
                    <div class="linksAside">
                        <ul>
                            <li><a href="">Useful article</a></li>
                            <li><a href="">Another useful article</a></li>
                            <li><a href="">Shortcut to manual link</a></li>
                            <li><a href="">Other stuff</a></li>
                            <li><a href="">Related keywords</a></li>
                            <li><a href="">Realted categories</a></li>
                            <li><a href="">This content is static</a></li>
                            <li><a href="">Fixed, moves with site</a></li>
                            <li><a href="">Won´t disappear from user´s sight</a></li>
                        </ul>
                    </div>
                </div>
                
               <app-app-satisfaction></app-app-satisfaction>
            </div>

        </aside>
    </div>
</div>

<app-sfooter></app-sfooter>
<app-pfooter></app-pfooter>