<header class="headerTwo">
    <div class="centerHeaderTwo">
        <div class="breadcrumbs">
         <a href=""> <h4>Online Documentation ></h4> </a>
         <a href=""> <h4>Crate Marker ></h4> </a>
         <a href=""> <h4>How to access Crate Maker ></h4> </a>
        </div>
        <div class="searcher">
          <span class="p-input-icon-left" style="width: 100%;">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" class="search-input" style="width: 100%;"/>
          </span>
        </div>
        
    </div>
   </header>
   
