<!-- *ngFor="let item of items" -->
<div class="itemsBrowser"  >  
    <!-- <a routerLink="manual" class="buttonBrowser" *ngFor="let item of items">
        <img src="./../../../assets/imgs/transpak_logo_2.jpeg" alt=""> 
         <h4>Crate Maker GB</h4> 
        <h4>{{item.title}}</h4>
    </a> -->
    <a routerLink="manual" class="buttonBrowser">
        <img src="./../../../assets/imgs/transpak_logo_2.jpeg" alt=""> 
        <h4>Crate Maker GB</h4> 
    </a>

    <a routerLink="manual" class="buttonBrowser">
        <img src="./../../../assets/imgs/transpak_logo_2.jpeg" alt="">
        <h4>EDI</h4>
    </a>

    <a routerLink="manual" class="buttonBrowser">
        <img src="./../../../assets/imgs/transpak_logo_2.jpeg" alt="">
        <h4>Cycle Count</h4>
    </a>

    <a routerLink="manual" class="buttonBrowser">
        <img src="./../../../assets/imgs/transpak_logo_2.jpeg" alt="">
        <h4>Create Market Lite</h4>
    </a>

    <a routerLink="manual" class="buttonBrowser">
        <img src="./../../../assets/imgs/transpak_logo_2.jpeg" alt="">
        <h4>Pack on Site</h4>
    </a>

    <a routerLink="manual" class="buttonBrowser">
        <img src="./../../../assets/imgs/transpak_logo_2.jpeg" alt="">
        <h4>Ops Center</h4>
    </a> 
</div>