<app-pheader></app-pheader>

<!-- BANNER -->
<section class="bannerBackground">
    <div class="bannerContainer">
        <div class="bannerInfo">
            <h1>Welcome</h1>
            <p>Find Helful information about Transpak's apps</p>
            <span class="p-input-icon-left" style="width: 100%;">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Search" class="search-input" />
            </span>
        </div>
    </div>
</section>
<!-- ----- -->


<section class="backgroundBrowser">
    <div class="titleBrowser">
        <h2>Browse by app</h2>
    </div>
    <div class=" infoBrowser">
        <app-app-item></app-app-item>
    </div>
</section>

<section class="backgroundLatest">
    <div class="containerLatest">
        <div class="titleLatest">
            <h2>Latest announcement</h2>
        </div>
        <div class="infoLatest">
            <div class="textoLatest">
                <h3>Sage X3 maintenance</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, alias quaerat sint excepturi at
                    perferendis dolorum, tempore ipsa aperiam harum ipsum. Aut quia quisquam illum nisi explicabo quo
                    esse ipsam, rem quod autem quaerat adipisci incidunt quos saepe natus eligendi.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus eveniet ea amet sapiente nulla
                    ipsam ipsum. Culpa, magni magnam tenetur ad soluta quod atque animi nihil esse aut optio nemo fugiat
                    nobis iure quasi tempore, saepe quo cum ratione quam velit minus odit harum voluptatum! Ipsa eum
                    laudantium eaque quae libero reiciendis. Reiciendis obcaecati sint quasi accusantium possimus, quod
                    laborum aut quis dolor. Nesciunt exercitationem quos facere accusantium reprehenderit, tempora
                    nobis, harum debitis, minus ea nam similique a assumenda nulla?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dicta laborum architecto
                    voluptatem tempora incidunt excepturi provident nisi ut itaque nam voluptatibus fugiat in quibusdam
                    unde aspernatur dolore, molestiae repellat voluptate dignissimos asperiores dolorem aperiam magnam?
                    Reiciendis, iusto.</p>
            </div>
            <div class="imgLatest">
                <img src="../assets/imgs/latest.jpeg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="backgroundBrowseUseful">
    <div class="titleNavBrowseUseful">
        <h2>Browse useful content</h2>
    </div>
    <div class="CardBrowseUseful">
        <div class="linksBrowseUsefull">
            <a href="">Top articles</a>
            <a href="">Create Marker</a>
            <a href="">Ops Center</a>
            <a href="">Quotation</a>
            <a href="">Mobile apps</a>
            <a href="">Pricing</a>
            <a href="">Sage</a>
        </div>
        <app-app-notelet class="infoBrowseUseful"></app-app-notelet>
    </div>
</section>


<section class="backgroundGethelp">
    <div class="containerGethelp">
        <div class="infoGethelp">
            <h1>Get Help anytime</h1>
            <p>Contact support to receive help from</p>
            <p>the IT team at anytime</p>
            
            <button class="buttonGethelp">
                GOT TO SUPPORT
            </button>
            
        </div>
    </div>
</section>



<app-sfooter></app-sfooter>
<app-pfooter></app-pfooter>