<footer class="footerIndex">
    <div class="containerLinks">
        <div class="imgLinks">
            <img src="../assets/imgs/lgo-transpak-white.png" alt="">
        </div>
        <div class="links">
            <a target="_blank" href="https://www.transpak.com/industries">INDUSTRIES</a>
            <a target="_blank" href="https://www.transpak.com/contact">CONTACT</a>
            <a target="_blank" href="https://www.transpak.com/about-us/careers">CARRERS</a>
            <a target="_blank" href="https://www.transpak.com/terms-and-conditions">TERMS & CONDITIONS</a>
        </div>
    </div>
    <p class="Copyright">© 2022 TRANSPAK, INC ALL RIGHTS RESERVERD</p>
</footer>

