@import "./../../../../../styles.scss";

.backgroundUsers {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

    .centerUsers {
        width: 85%;

        .table-header {
            margin-top: 2em;
            color: #000;
            display: flex;
            font-size: 1.5em;
            justify-content: space-between;
            align-items: center;
            flex-flow: row wrap;
        }


        .actions {
            // background: red;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: row wrap;
            padding: 0;
            // padding-bottom: 1em;

            button {
                @include Pbutton(1em, $background-button);
                margin: 10px 0;
            }
        }
    }
}

:host ::ng-deep {
    .p-datatable-responsive-demo .p-datatable-tbody>tr>td {
        text-align: center;
    }

    .p-datatable-responsive-demo .p-datatable-tbody>tr>td .p-column-title {
        display: none;
        text-align: center;
    }
}

@media screen and (max-width: 60rem) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-responsive-demo {

                .p-datatable-thead>tr>th,
                .p-datatable-tfoot>tr>td {
                    display: none !important;
                }

                .p-datatable-tbody>tr>td {
                    display: grid;
                    width: 100%;
                    grid-template-columns: 1fr 2fr;
                    gap: 10px;
                    color: #000;

                    .field {
                        padding: .4rem;
                        margin: 1px 0;
                    }

                    .p-column-title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-flow: row wrap;
                        padding: .4rem;
                        font-weight: bold;
                        border-right: 1px solid $background-color-main;
                    }

                    &:last-child {
                        margin-bottom: 1em;
                        border-bottom: 1px solid $background-color-main;
                    }
                }
            }
        }
    }

    .backgroundUsers {
        .centerUsers {
            .actions{
                padding: .7em;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-responsive-demo {

                .p-datatable-thead>tr>th,
                .p-datatable-tfoot>tr>td {
                    display: none !important;

                }

                .p-datatable-tbody>tr>td {
                    display: grid;
                    width: 100%;
                    height: auto;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                    color: #000;


                    .field {
                        // margin: 1em 0;
                        text-align: center;
                    }

                    .p-column-title {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-flow: row wrap;
                        padding: .4rem;
                        font-weight: bold;
                        border-right: 0px;

                    }

                    &:last-child {
                        border-bottom: 1px solid $background-color-main;
                    }
                }
            }
        }
    }


    .backgroundUsers {
        .centerUsers {
            .table-header {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                span{
                    margin-top: 1em;
                }
            }
            .actions{
                padding: 1em;
            }
        }
    }
}