<app-pheader></app-pheader>
<app-sheader></app-sheader>
<app-app-title></app-app-title>

<div class="backgroundInfo">
    <div class="containerInfo">
        <div>
            <div class="containerVersion">
                <h2>Crate Maker Current Version</h2>
                <div class="infoVersion">
                    <img src="../assets/imgs/img.jpeg" alt="">
                    <div>
                        <p>Version: <span>1.0.0.4571</span> </p>
                        <p>Release date: <span>March 27th, 2022</span> </p>
                        <p>Description: </p>
                        <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor obcaecati cupiditate at
                            incidunt
                            exercitationem
                            hic quis, quidem dolorem voluptas asperiores explicabo molestiae odio fugit rem animi,
                            temporibus mollitia!
                            Saepe vitae nemo, suscipit culpa natus sint quo, quibusdam dicta numquam eius assumenda
                            molestiae et!
                            Temporibus
                        </p>
                        <p class="description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor obcaecati cupiditate at
                            incidunt
                            exercitationem
                            hic quis, quidem dolorem voluptas asperiores explicabo molestiae odio fugit rem animi,
                            temporibus mollitia!
                            Saepe vitae nemo, suscipit culpa natus sint quo, quibusdam dicta numquam eius assumenda
                            molestiae et!
                        </p>
                    </div>
                </div>
                <app-app-cards class="containerCardsVersion"></app-app-cards>
            </div>
        </div>
        <div>
            <div class="containerRelease">
                <h2>Crate Maker Previous Versions</h2>
                <div class="containerCardsRelease">
                    <div class="cardRelease">
                        <i class="pi pi-file"></i>
                        <h2>Version 1.0.0.44951</h2>
                        <h3>Released on:</h3>
                        <h3>Febrary 2nd 2022</h3>
                        <div class="buttonsRelease">
                            <a [routerLink]="['../manual/moverview']" class="bRelease">User manual</a>
                            <a href="" class="bRelease">Release notes</a>
                        </div>
                    </div>
                    <div class="cardRelease">
                        <i class="pi pi-file"></i>
                        <h2>Version 1.0.0.44951</h2>
                        <h3>Released on:</h3>
                        <h3>Febrary 2nd 2022</h3>
                        <div class="buttonsRelease">
                            <a href="" class="bRelease">User manual</a>
                            <a href="" class="bRelease">Release notes</a>
                        </div>
                    </div>
                    <div class="cardRelease">
                        <i class="pi pi-file"></i>
                        <h2>Version 1.0.0.44951</h2>
                        <h3>Released on:</h3>
                        <h3>Febrary 2nd 2022</h3>
                        <div class="buttonsRelease">
                            <a href="" class="bRelease">User manual</a>
                            <a href="" class="bRelease">Release notes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-sfooter></app-sfooter>
<app-pfooter></app-pfooter>