@import "./../../../../../styles.scss";

.satisfaction {
    /* width: auto; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .7em .3em;
    margin: 1em 0;
    border-radius: 10px;
    background: rgb(8, 108, 148);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .5),
        0px 2px 3px 1px rgba(0, 0, 0, .5),
        0px 2px 3px 1px rgba(0, 0, 0, .5);

    h4 {
        color: #fff;
        font-size: 1.1em;
        font-weight: normal;
        margin: .7em .1em;
        text-align: center;
    }

    .satisfactionButtons {
        flex-grow: 1;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        flex-flow: row wrap;

        button {
            background: transparent;
            border: 0;
            color: #fff;
            cursor: pointer;
            font-size: 3.1em;
            border-radius: 50%;

            i {
                font-size: .8em;
                color: white;
                // background: red;
                width: auto;
                height: auto;
                // border-radius: 50%;
                transition: all .2s ease-out;

                &:hover {
                    font-size: 1em;
                    // box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, .2),
                    //     0px 3px 4px 1px rgba(0, 0, 0, .2),
                    //     0px 3px 4px 1px rgba(0, 0, 0, .2);
                }
            }
        }
    }
}