@import "./../../../../../styles.scss";

footer{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 5em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0em;
    background-color: $background-color-secondary;

    img{
        width: 15em;
        height: 6em;
        margin-bottom: 1em;
    }

    .Copyright{
        color: #fff;
        font-size: 12px;
        text-align: center;
    }
}